<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>アカウント作成</title>
  <link rel="stylesheet" href="account_create.css">
</head>
<body>
    <h1>PURE</h1>
<div id="create">
	<!--入力フォーム-->
	<form id="form" action="ConfirmCreateAccountServlet" method="post">
		<p>
			ニックネーム：<input id="nickname" type="text" name="nickname" value=<%= nickname %>>
			<output id="nicknameErrMsg"></output>
		</p>
		<p>
			ID:<input id="id" type="text" name="id" value=<%= id %>>
			<output id="idErrMsg"></output>
		</p>
		<p>
			パスワード：<input id="pass" type="password" name="pass" value=<%= pass %>>
			<output id="passErrMsg"></output>
		</p>
		<p>
			パスワード再入力：<input id="passConfirm" type="password" name="passConfirm">
			<output id="passConfirmErrMsg"></output>
		</p><br>

		<input type="submit" value="作成">
	</form>
</div>
  </body>
</html>
