@charset "UTF-8";
body {
	margin: 0 auto;
	width: 600px;
}
h1{
  font-size: 60px;
  color: pink;
  text-align: center;
}
main {
	float: left;
	width: 250px;
  text-align: center;
}
#logout{
	float: right;


}
#menu {
	font-size: 20px;
	float: left;
	width: 300px;
	height: 400px;
	background-color: rgba(255,204,216,0.28);
	border-radius: 10px;
	box-shadow: 3px 3px rgba(128, 128, 128,0.28);
}
input[type="submit"] {
  	 background: white;
     border-color: black;
}
