
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ホーム</title>
  <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="PURE.css">
</head>
<body>
		<header>
        <h1><a href="file:///C:/Users/matsumoto/Documents/GitHub/PURE/デザイン/homenav.html">PURE</a></h1>
		</header>

<nav>
        <nav>
          <ul>
            <li><a href="file:///C:/Users/matsumoto/Documents/GitHub/PURE/デザイン/homenav.html">TOP</a></li>
            <li><a href="file:///C:/Users/matsumoto/Documents/GitHub/PURE/デザイン/ranking.html">ランキング</a></li>
            <li><a href="file:///C:/Users/matsumoto/Documents/GitHub/PURE/デザイン/search.html">検索</a></li>
            <li><a href="file:///C:/Users/matsumoto/Documents/GitHub/PURE/デザイン/login.html">ログイン</a></li>
            <li><a href="file:///C:/Users/matsumoto/Documents/GitHub/PURE/デザイン/account_create.html">新規作成</a></li>
          </ul>
        </nav>
	<main>
		<section>
			<h2>リアルタイム</h2>
			<div id="realtime">

			</div>
		</section>
		<section>
			<h2>最新</h2>
			<div id="new">
				<% for(int i = 0; i < newList.size(); i++) { %>
					<p><a href="/PURE/BulletinBoardServlet?id=<%= newList.get(i).getId() %>"><%= newList.get(i).getTitle() %></a></p>
				<% } %>
			</div>
		</section>
	</main>
		<!--                        ログイン・検索                         -->
		<!--                       ランキング                               -->
		<div id="sub">
			<!--ランキング-->
			<h2>ランキング</h2>
			<div id="ranking">
				<% for(int i = 0; i < rankingList.size(); i++) { %>
					<p><a href="/PURE/BulletinBoardServlet?id=<%= rankingList.get(i).getId() %>"><%= rankingList.get(i).getTitle() %></a></p>
				<% } %>
			</div>
		</div>

</body>
</html>
